@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Condensed", sans-serif;
}
/*navbar*/
.container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns:
    minmax(6rem, 1fr)
    repeat(8, minmax(min-content, 16rem))
    minmax(6rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 1.6rem;
}
.social-icons {
  grid-column: 2/4;
  grid-row: 1/2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: #756091;
  transition: all 0.2s;
}

.social-icon:hover {
  color: rgb(43, 137, 226);
}

.first-nav {
  grid-column: 6/10;
  grid-row: 1/2;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}
.first-nav-link {
  text-decoration: none;
  color: #756091;
  display: inline-block;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.first-nav-link span {
  font-size: 0.3rem;
  color: #756091;
}
.first-nav-link i {
  font-size: 1rem;
  margin-right: 1.3rem;
}

.search {
  grid-column: 8/10;
  grid-row: 2/3;
}
.search-form {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}
.search-input {
  grid-column: 3/-1;
  grid-row: 1/2;
  padding: 0.3rem 0.4rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: 0.1rem solid #756091;
  outline: none;
}
.search-btn {
  grid-column: 10/-1;
  grid-row: 1/2;
  border: none;
  background-color: transparent;
}

.second-nav {
  grid-column: 2/10;
  grid-row: 3/4;
  border-top: 0.1rem solid #756091;
  border-bottom: 0.1rem solid #756091;
}
.second-nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  list-style: none;
}
.second-nav-link {
  text-align: center;
  display: grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  color: #756091;
  padding: 0.8rem 0;
  transition: all 1s;
}
.second-nav-item:hover .second-nav-link {
  background-color: #756091;
  color: white;
}

second-nav-item:first-child {
  position: relative;
}
.dropdown {
  position: absolute;
  /* top: 100%; */
  width: 70rem;
  background-color: #756091;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}
.second-nav-item:first-child:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown-first-list {
  grid-column: 1/3;
}
.dropdown-second-list {
  grid-column: 3/5;
}
.dropdown-image {
  grid-column: 5/-1;
  width: 100%;
}
.dropdown-list-item {
  list-style: none;
}
.dropdown-list-link {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1.6rem;
  display: block;
  padding: 0.8rem;
}
.dropdown-list-link:hover {
  color: #756091;
  background-color: white;
}

/*end of navbar*/
